{% extends "masters.html" %}
{% load static %}


{% block content %}
<div class="content">
    <div class="container-fluid" style="padding-top: 80px;">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Change Password</h4>
                    </div>
                    <div class="card-body">
                        <form action="/user/setting/" method="POST">
                            {% csrf_token %}
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Old Password</label>
                                        <input type="text" class="form-control" id='opassword' name='opassword' >
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">New Password</label>
                                        <input type="text" class="form-control" id='newpassword' name='newpassword'>
                                    </div>
                                </div>   
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Confirm Password</label>
                                        <input type="text" class="form-control" id="cpassword" name="cpassword">
                                    </div>
                                </div>   
                            </div>
                            <button type="submit" class="btn btn-primary pull-right" onclick="cpass()">Update Password</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <script>
                function cpass(){
                    npassword= document.getElementById('newpassword').value;
              cpassword=document.getElementById('cpassword').value;
              if(npassword!=cpassword){
                  alert("Password mismatch");
                  
              }
                }
              
            </script>
{% endblock %}