{% extends "masters.html" %}
{% load static %}
{% block content %}
<div class="content" style="padding-top:40px; padding-left:30px;padding-right: 30px;">
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4>Your Order has been placed successfully. Thank you for shopping with us.</h4>
                <center style="padding-top: 60px;">
                    <a href="/user/dashboards/">
                    <button style="background-color: palevioletred;">Continue Shopping</button>
                </a>
                </center>
            </div>
        </div>
    </div>
</div>



</div>

{% endblock %}