{% extends "master.html" %}
{% load static %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script>
   window.onload=function(){
       loaddata()
   }
    
</script>
<div class="content" style="padding-top:40px; padding-left: 10px;">
    <div class="page-title">
        <div class="row justify-content-between align-items-center">
            <div class="col-xl-4 col-lg-4 col-md-4 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
                
                <div class="d-inline-block">
                    <h5 class="h4 d-inline-block font-weight-400 mb-0 ">Manage Orders
</h5>
                </div>
            </div>
            
            <div class="col-xl-8 col-lg-8 col-md-8 d-flex align-items-center justify-content-between justify-content-md-end">
                <div class="col-xl-4 col-lg-4 col-md-4 d-flex align-items-center justify-content-between justify-content-md-end">
            
                    <input class="form-control py-2 border-right-0 border" type="search" value="search" id="example-search-input">
                    <span class="input-group-append">
                      <button class="btn btn-outline-secondary border-left-0 border" type="button">
                            <i class="fa fa-search"></i>
                      </button>
                    </span>
                
        </div>  
               
            </div>
        </div>
    </div>
    <div class="row" style="padding-top: 40px;">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-body">
                    <table class="table" id="table">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Customer name</th>
                            <th scope="col">Product name</th>
                            <th scope="col">Brand</th>
                            <th scope="col">Order no</th>
                            <th scope="col">Order date</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Status</th>
                            
                            

                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                           
                          </tr>
                         
                        </tbody>
                      </table>

                </div>

            </div>
        </div>
    </div>
</div>
<script>
    function loaddata(){
           $.ajax({
               url:'/adminapp/fnorder/',
               type:'GET',
               success: function(response){
                   $('.tr').remove()
                  for(i=0;i<response.order.length;i++){
                      $('#table').append("<tr class='tr'><td>"+response.order[i].id+"</td><td>"+response.order[i].cname+"</td><td>"+response.order[i].pname+"</td><td>"+response.order[i].brand+"</td><td>"+response.order[i].orderno+"</td><td>"+response.order[i].odate+"</td><td>"+response.order[i].amount+"</td><td>"+response.order[i].status+"</td></tr>")
                  }
               }
           })
       }
</script>
{% endblock %}