{% extends "master.html" %}
{% load static %}
{% block content %}
<div class="content" style="padding-top:40px; padding-left: 10px;">
    <div class="page-title">
        <div class="row justify-content-between align-items-center">
            <div class="col-xl-4 col-lg-4 col-md-4 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0"> 
                <div class="d-inline-block">
                    <h5 class="h4 d-inline-block font-weight-400 mb-0 ">Manage Banners
                     </h5>
                </div>
            </div>
            
            <div class="col-xl-8 col-lg-8 col-md-8 d-flex align-items-center justify-content-between justify-content-md-end">
                <div class="col-xl-4 col-lg-4 col-md-4 d-flex align-items-center justify-content-between justify-content-md-end">
                    <input class="form-control py-2 border-right-0 border" type="search" value="search" id="example-search-input">
                    <span class="input-group-append">
                      <button class="btn btn-outline-secondary border-left-0 border" type="button">
                            <i class="fa fa-search"></i>
                      </button>
                    </span>           
        </div> 
            </div>
        </div>
    </div>
      <div class="row" style="padding-top: 40px;">
        <div class="col-md-12">
        <div class="card">
        <div class="card-header">
        Bannner Form
        </div>
        <div class="card-body">
        <form action="/adminapp/banner/" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row">
        <div class="col-6">
        <div class="form-group" >
        <label class="input-label" for=""> Banner Name
        </label>
        <input type="text" name="bname"  class="form-control" placeholder="New Brand" required>
        </div>
        </div>
        <!-- <div class="col-6">
        <label>Image</label><small style="color: red">*
        </small>
        <div class="custom-file">
          <input type="file" name="bimage" id="" class="custom-file-input" accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*" required>
          <label class="custom-file-label" for="">Choose File</label>
          </div>
        </div> -->
        <div class="form-group col-6" style="padding-top: 25px;">
          <div class="float-left col-4">
              <label for="document" class="float-left pt-1 form-control-label">Banner Image<span class="text-danger">*</span> </label>
          </div>
          <div class="float-right col-8">
              <!-- <input type="hidden" name="certificate" id="" value="" > -->
              <div class="choose-file form-group">
                  <label for="">
                      <!-- <div>Choose File</div> -->
                      <input class="form-control border-0" name="bimage" type="file" >
                  </label>     
              </div>
          </div>
      </div>
        <div class="col-12 ">
        <div class="form-group">
        <hr>
        <!-- <center>
        <img style="width: 30%;border: 1px solid; border-radius: 10px;" id="viewer" src="" alt="image" />
        </center> -->
        </div>
        </div>
        </div>
        <hr>
        <div class="container">
        <button type="submit" class="btn" style="background-color: rgb(226, 123, 140);">submit</button>
        <button type="cancel" class="btn btn-secondary">Cancel</button>
        </div>
        </form>
        </div>
        </div>
        </div>
        
    </div>

  <div class="row" style="padding-top:40px; padding-left: 10px;">
      <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Banner List
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="thead-light">
                              <tr>
                                <th scope="col" style="width: 5%;">#</th>
                                <th scope="col" style="width: 45%;">Image</th>
                                
                                <th scope="col" style="width: 45%;">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td><img src="" alt="Banner"></td>
                               
                                <td><a class="btn btn-primary btn-sm edit"data-toggle="modal" data-target="#editcategory" style="cursor: pointer;" href="#editcategory">
                                    <i class="material-icons">edit</i>Edit
                                    </a>
                                    <a class="btn btn-danger btn-sm delete" style="cursor: pointer;" >
                                        <i class="material-icons">delete</i>Delete
                                        </a> </td>
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td><img src="" alt="Banner"></td>
                                <td><label class="switch"><input type="checkbox" class="status" id="9" checked><span class="slider round"></span></label></td>
                                <td><a class="btn btn-primary btn-sm edit"data-toggle="modal" data-target="#editcategory" style="cursor: pointer;" href="#editcategory">
                                    <i class="material-icons">edit</i>Edit
                                    </a>
                                    <a class="btn btn-danger btn-sm delete" style="cursor: pointer;" >
                                        <i class="material-icons">delete</i>Delete
                                        </a></td>
                              </tr>
                              <tr>
                               
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>

        </div>
      </div>
  </div>
  {{msg}}
</div>
{% endblock %}