{% extends "master.html" %}
{% load static %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script>
   window.onload=function(){
       loaddata()
   }
    
</script>
<div class="content" style="padding-top:40px; padding-left: 10px;">
    <div class="page-title">
        <div class="row justify-content-between align-items-center">
            <div class="col-xl-4 col-lg-4 col-md-4 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
                <div class="d-inline-block">
                    <h5 class="h4 d-inline-block font-weight-400 mb-0 ">Discounts
                  </h5>
                </div>
            </div> 
            <div class="col-xl-8 col-lg-8 col-md-8 d-flex align-items-center justify-content-between justify-content-md-end">
                <div class="col-xl-4 col-lg-4 col-md-4 d-flex align-items-center justify-content-between justify-content-md-end">
            
                    <input class="form-control py-2 border-right-0 border" type="search" value="search" id="example-search-input">
                    <span class="input-group-append">
                      <button class="btn btn-outline-secondary border-left-0 border" type="button">
                            <i class="fa fa-search"></i>
                      </button>
                    </span>  
        </div> 
            </div>
        </div>
    </div>
        <div class="row" style="padding-top: 40px;">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                       Discount Form
                        </div>
                        <div class="card-body">
                          <form action="/adminapp/discount/" method="POST">
                              {% csrf_token %}
                           <div class="form-group">
                              <div class="row">
                                    <div class="col-md-6">
                                        <label for="name">Discount Type</label>
                                        <input type="text" name="dtype" class="form-control" id="dtype" placeholder="Discount Type" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="name">Discount</label>
                                        <input type="text" class="form-control" name="discount" id="discount" placeholder="Discount" required>
                                        </div>
                              </div>
                            </div> 
                                        <div class="card-footer">
                                            <button type="submit" class="btn " style="background-color: rgb(226, 123, 140);">Submit</button>
                                     </div>
                          </form>
                          {{msg}}
                        </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 40px;">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Discounts</h4>
                    </div>
                    
                    <div class="table-responsive">
                      <table class="table table-hover dt-responsive" cellspacing="0" width="100%" id="table">
                         <thead>
                            <tr>
                                <th width="5%">#</th>
                                <th width="30%">Type</th>
                                <th width="30%">Discount</th>    
                                <th width="30%">Action</th>
                            </tr>
                         </thead>
                         <tbody>
                           
                         </tbody>
                      </table>
                    </div>
                </div>
            </div>
        </div>
</div>
<script>
    function loaddata(){
        $.ajax({
            url:'/adminapp/fndiscount/',
            type:'GET',
            success: function(response){
                $('.tr').remove()
                for(i=0;i<response.discount.length;i++){
                    $('#table').append("<tr class='tr'><td>"+response.discount[i].id+"</td><td>"+response.discount[i].type+"</td><td>"+response.discount[i].discount+"</td><td><button onclick='deldata("+response.discount[i].id+")'>Delete</button></td></tr>")
                }
            }
        })
    }
    function deldata(id){
    $.ajaxSetup({
  headers: { "X-CSRFToken": '{{csrf_token}}' }
});
            $.ajax({
                url:'/adminapp/deldiscount/',
                type: 'POST',
                data:{
                    id:id
                },
                success: function(response){
                    alert(response.msg)
                    loaddata()
                }
            })
        }
</script>
{% endblock %}