{% extends "master.html" %}
{% load static %}
{% block content %}
<div class="content">
    <div class="row" style="padding-top: 30px;">
        <div class="col-lg-12">
                <h4 class="heading">Order Details</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4>Order Details</h4>
                </div>
                  <div class="table-responsive-lg" style="padding-left: 20px;padding-top: 30px;padding-bottom: 30px;">
                        <table >
                            <tbody >
                                <tr >
                                    <th width="45%">Order ID</th>
                                    <td width="10%">:</td>
                                    <td width="45%" >qwertfd</td>
                                </tr>  
                                <tr>
                                    <th width="45%">Total Product</th>
                                    <td width="10%">:</td>
                                    <td width="45%">1</td>
                                </tr>
                                <tr>
                                    <th width="45%">Tax</th>
                                    <td width="10%">:</td>
                                    <td width="45%">18%</td>
                                </tr>
                                <tr>
                                    <th width="45%">Total Cost</th>
                                    <td width="10%">:</td>
                                    <td width="45%">₹8963.5</td>
                                </tr>
                                <tr>
                                    <th width="45%">Ordered Date</th>
                                    <td width="10%">:</td>
                                    <td width="45%">14-Aug-2022 02:49 pm</td>
                                </tr>
                                <tr>
                                    <th width="45%">Payment Method</th>
                                    <td width="10%">:</td>
                                    <td width="45%">Online Transcation</td>
                                </tr>
                                <tr>
                                    <th width="45%">Transcation ID</th>
                                    <td width="10%">:</td>
                                    <td width="45%">asdfghjk</td>
                                </tr>
                                <tr>
                                    <th width="45%">Payment Status</th>
                                    <th width="10%">:</th>
                                    <td width="45%"><span class='badge badge-success'>Paid</span></td>
                                </tr>
                                
                            </tbody>
                        </table>
    
                  </div>  
                  <div class="footer-area" style="padding-left: 20px;padding-bottom: 30px;">
                    <a href="" class="btn btn-primary"><i class="fas fa-eye"></i> View Invoice</a>
                </div>
                </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4>Billing Details</h4>
                </div>
                  <div class="table-responsive-lg" style="padding-left: 20px;padding-top: 30px;padding-bottom:60px;">
                        <table >
                            <tbody >
                                <tr >
                                    <th width="45%">Name</th>
                                    <td width="10%">:</td>
                                    <td width="45%" >Anu</td>
                                </tr>  
                                <tr>
                                    <th width="45%">Email</th>
                                    <td width="10%">:</td>
                                    <td width="45%">anu@gmail.com</td>
                                </tr>
                                <tr>
                                    <th width="45%">Phone</th>
                                    <td width="10%">:</td>
                                    <td width="45%">9731139900</td>
                                </tr>
                                <tr>
                                    <th width="45%">Address</th>
                                    <td width="10%">:</td>
                                    <td width="45%">House no:1,Vikas Nagar,Pilathara</td>
                                </tr>
                                <tr>
                                    <th width="45%">City</th>
                                    <td width="10%">:</td>
                                    <td width="45%">Kannur</td>
                                </tr>
                                <tr>
                                    <th width="45%">State</th>
                                    <td width="10%">:</td>
                                    <td width="45%">Kerala</td>
                                </tr>
                                <tr>
                                    <th width="45%">Country</th>
                                    <td width="10%">:</td>
                                    <td width="45%">India</td>
                                </tr>
                                <tr>
                                    <th width="45%">Pincode</th>
                                    <td width="10%">:</td>
                                    <td width="45%">670501</td>
                                </tr>
                                
                            </tbody>
                        </table>
                  </div>  
                </div>
        </div>
        <div class="col-lg-6" style="padding-top: 30px;">
            <div class="card">
                <div class="card-header">
                    <h4>Shipping Details</h4>
                </div>
                  <div class="table-responsive-lg" style="padding-left: 20px;padding-top: 30px;padding-bottom:60px;">
                        <table >
                            <tbody >
                                <tr >
                                    <th width="45%">Name</th>
                                    <td width="10%">:</td>
                                    <td width="45%" >Anu</td>
                                </tr>  
                                <tr>
                                    <th width="45%">Phone</th>
                                    <td width="10%">:</td>
                                    <td width="45%">9731139900</td>
                                </tr>
                                <tr>
                                    <th width="45%">Address</th>
                                    <td width="10%">:</td>
                                    <td width="45%">House no:1,Vikas Nagar,Pilathara</td>
                                </tr>
                                <tr>
                                    <th width="45%">City</th>
                                    <td width="10%">:</td>
                                    <td width="45%">Kannur</td>
                                </tr>
                                <tr>
                                    <th width="45%">State</th>
                                    <td width="10%">:</td>
                                    <td width="45%">Kerala</td>
                                </tr>
                                <tr>
                                    <th width="45%">Country</th>
                                    <td width="10%">:</td>
                                    <td width="45%">India</td>
                                </tr>
                                <tr>
                                    <th width="45%">Pincode</th>
                                    <td width="10%">:</td>
                                    <td width="45%">670501</td>
                                </tr>
                                
                            </tbody>
                        </table>
                  </div>  
                </div>
        </div>
    </div>
    <div class="row" style="padding-top: 40px;">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4>Products Ordered</h4>
                </div>
                
                <div class="table-responsive">
                  <table class="table table-hover dt-responsive" cellspacing="0" width="100%">
                     <thead>
                        <tr>
                            <th width="10%">Product ID</th>
                            <th width="10%">Product Name</th>
                            <th width="10%">Status</th>
                            <th width="10%">Details</th>
                            <th width="10%">Total Price</th>
                        </tr>
                     </thead>
                  </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    
</script>
{% endblock %}